<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Astronomical Events</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('web.static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('web.static', filename='images/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('web.static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('web.static', filename='images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('web.static', filename='manifest.json') }}">
        <link rel="stylesheet" href="{{ url_for('web.static', filename='css/lineicons.css') }}">
        <link rel="stylesheet" href="{{ url_for('web.static', filename='css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('web.static', filename='css/miligram.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('web.static', filename='css/custom.css') }}">
    </head>
    <body>
        {% include "layout/navbar.html" %}
        <div class="header">
            {% block content %}{% endblock %}
        </div>
        <!-- <script src="" async defer></script> -->
    </body>
</html>