{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
    <h1>Astronomical Events</h1>
    <div class="row">
        <div class="column">
            <h3>Events: {{ statistics.count_all_events }}</h3>
        </div>
        <div class="column">
            <h3>Users: {{ statistics.count_all_users }}</h3>
            <p>With notifications enabled: {{ statistics.count_users_with_notifications_enabled }}</p>
        </div>
        <div class="column">
            <h3>Commands Triggered: {{ statistics.count_all_commands }}</h3>
        </div>
    </div>
</div>
{% endblock %}
