{% extends 'layout/base.html' %}

{% block content %}

<div class="container">
    <h3>Users</h3>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Telegram Chat ID</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Receive Notifications</th>
                <th>Date</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.chat_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.firstname }}</td>
                <td>{% if user.receive_notifications is true %} Yes {% else %} No {% endif %}</td>
                <td>{{ user.datetime | format_datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}
</div>
{% endblock %}
