{% extends 'layout/base.html' %}

{% block content %}

<div class="container">
    <form method="POST" action="">
        <fieldset>
            <label for="content">Content</label>
            <textarea placeholder="Write the message to be sended here..." name="content">{{ content }}</textarea>
            {% include "layout/flash.html" %}
            <div class="clearfix">
                <div class="float-left">
                    <a class="button button-outline" href="{{ url_for("notifications.list") }}">Back</a>
                </div>
                <div class="float-right">
                    <input class="button" type="submit" value="Save">
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
