{% extends 'layout/base.html' %}

{% block content %}

<div class="container">
    <form method="POST" action="">
        <fieldset>
            <label for="title">Title</label>
            <input type="text" placeholder="Title" name="title" value="{{ event.title }}">
            <label for="description">Description</label>
            <textarea placeholder="Description" name="description">{{ event.description }}</textarea>
            <label for="image">Image</label>
            <select name="image">
                <option {% if event.image == 'astrocal01.jpg' %} selected {% endif %} value="astrocal01.jpg">astrocal01.jpg</option>
                <option {% if event.image == 'astrocal02.jpg' %} selected {% endif %} value="astrocal02.jpg">astrocal02.jpg</option>
                <option {% if event.image == 'astrocal03.jpg' %} selected {% endif %} value="astrocal03.jpg">astrocal03.jpg</option>
                <option {% if event.image == 'astrocal04.jpg' %} selected {% endif %} value="astrocal04.jpg">astrocal04.jpg</option>
                <option {% if event.image == 'astrocal05.jpg' %} selected {% endif %} value="astrocal05.jpg">astrocal05.jpg</option>
                <option {% if event.image == 'astrocal06.jpg' %} selected {% endif %} value="astrocal06.jpg">astrocal06.jpg</option>
                <option {% if event.image == 'astrocal07.jpg' %} selected {% endif %} value="astrocal07.jpg">astrocal07.jpg</option>
                <option {% if event.image == 'astrocal08.jpg' %} selected {% endif %} value="astrocal08.jpg">astrocal08.jpg</option>
                <option {% if event.image == 'astrocal09.jpg' %} selected {% endif %} value="astrocal09.jpg">astrocal09.jpg</option>
                <option {% if event.image == 'astrocal10.jpg' %} selected {% endif %} value="astrocal10.jpg">astrocal10.jpg</option>
                <option {% if event.image == 'astrocal11.jpg' %} selected {% endif %} value="astrocal11.jpg">astrocal11.jpg</option>
                <option {% if event.image == 'astrocal12.jpg' %} selected {% endif %} value="astrocal12.jpg">astrocal12.jpg</option>
                <option {% if event.image == 'astrocal13.png' %} selected {% endif %} value="astrocal13.png">astrocal13.png</option>
                <option {% if event.image == 'astrocal14.jpg' %} selected {% endif %} value="astrocal14.jpg">astrocal14.jpg</option>
                <option {% if event.image == 'astrocal15.jpg' %} selected {% endif %} value="astrocal15.jpg">astrocal15.jpg</option>
                <option {% if event.image == 'astrocal16.jpg' %} selected {% endif %} value="astrocal16.jpg">astrocal16.jpg</option>
            </select>
            <label for="dates">Dates</label>
            <input type="text" placeholder="1,2" name="dates" value="{{ event.dates | join(',') }}">
            <label for="month">Month</label>
            <select name="month">
            {% for month in months %}
                <option {% if event.month == month['number'] %} selected {% endif %} value="{{ month['number'] }}">{{ month['name'] }}</option>
            {% endfor %}
            </select>
            <label for="year">Year</label>
            <input type="text" placeholder="2023" name="year" value="{{ event.year }}">
            {% include "layout/flash.html" %}
            <div class="clearfix">
                <div class="float-left">
                    <a class="button button-outline" href="{{ url_for("events.list") }}">Back</a>
                </div>
                <div class="float-right">
                    <input class="button" type="submit" value="Save">
                </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
