{% extends 'layout/base.html' %}

{% block content %}

<div class="container">
    <div class="clearfix">
        <h3 class="float-left">Events</h3>
        <div class="float-right">
            <a class="button button-primary" href="{{ url_for("events.new") }}">New</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Dates</th>
                <th>Month</th>
                <th>Year</th>
                <th>Actions</th>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description | truncate(150) }}</td>
                <td>{{ event.image }}</td>
                <td>{{ event.dates | join(',') }}</td>
                <td>{{ event.month }}</td>
                <td>{{ event.year }}</td>
                <td>
                    <a href="{{ url_for("events.edit", event_id=event.id) }}">
                        <i class="lni lni-pencil-alt"></i>
                    </a> |
                    <a href="{{ url_for("events.delete", event_id=event.id) }}">
                        <i class="lni lni-trash-can"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}
</div>
{% endblock %}
